Result/Exact/Linear/Json/Linear_lambda_0.05_margin_0.20.json
Result/Exact/Linear/Json/Linear_lambda_0.05_margin_0.40.json
Result/Exact/Linear/Json/Linear_lambda_0.05_margin_0.45.json
Result/Exact/Linear/Json/Linear_lambda_0.05_margin_0.50.json
Result/Exact/Linear/Json/Linear_lambda_0.05_margin_0.55.json
Result/Exact/Linear/Json/Linear_lambda_0.05_margin_0.60.json
Result/Exact/Linear/Json/Linear_lambda_0.05_margin_0.70.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.20.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.40.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.45.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.50.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.55.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.60.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.70.json
Result/Exact/Linear/Json/Linear_lambda_0.30_margin_0.20.json
Result/Exact/Linear/Json/Linear_lambda_0.30_margin_0.40.json
Result/Exact/Linear/Json/Linear_lambda_0.30_margin_0.45.json
Result/Exact/Linear/Json/Linear_lambda_0.30_margin_0.50.json
Result/Exact/Linear/Json/Linear_lambda_0.30_margin_0.55.json
Result/Exact/Linear/Json/Linear_lambda_0.30_margin_0.60.json
Result/Exact/Linear/Json/Linear_lambda_0.30_margin_0.70.json
Result/Exact/Linear/Json/Linear_lambda_0.50_margin_0.20.json
Result/Exact/Linear/Json/Linear_lambda_0.50_margin_0.40.json
Result/Exact/Linear/Json/Linear_lambda_0.50_margin_0.45.json
Result/Exact/Linear/Json/Linear_lambda_0.50_margin_0.50.json
Result/Exact/Linear/Json/Linear_lambda_0.50_margin_0.55.json
Result/Exact/Linear/Json/Linear_lambda_0.50_margin_0.60.json
Result/Exact/Linear/Json/Linear_lambda_0.50_margin_0.70.json
Result/Exact/Linear/Plots/Linear_lambda_0.05_margin_0.20.png
Result/Exact/Linear/Plots/Linear_lambda_0.05_margin_0.40.png
Result/Exact/Linear/Plots/Linear_lambda_0.05_margin_0.45.png
Result/Exact/Linear/Plots/Linear_lambda_0.05_margin_0.50.png
Result/Exact/Linear/Plots/Linear_lambda_0.05_margin_0.55.png
Result/Exact/Linear/Plots/Linear_lambda_0.05_margin_0.60.png
Result/Exact/Linear/Plots/Linear_lambda_0.05_margin_0.70.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.20.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.40.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.45.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.50.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.55.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.60.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.70.png
Result/Exact/Linear/Plots/Linear_lambda_0.30_margin_0.20.png
Result/Exact/Linear/Plots/Linear_lambda_0.30_margin_0.40.png
Result/Exact/Linear/Plots/Linear_lambda_0.30_margin_0.45.png
Result/Exact/Linear/Plots/Linear_lambda_0.30_margin_0.50.png
Result/Exact/Linear/Plots/Linear_lambda_0.30_margin_0.55.png
Result/Exact/Linear/Plots/Linear_lambda_0.30_margin_0.60.png
Result/Exact/Linear/Plots/Linear_lambda_0.30_margin_0.70.png
Result/Exact/Linear/Plots/Linear_lambda_0.50_margin_0.20.png
Result/Exact/Linear/Plots/Linear_lambda_0.50_margin_0.40.png
Result/Exact/Linear/Plots/Linear_lambda_0.50_margin_0.45.png
Result/Exact/Linear/Plots/Linear_lambda_0.50_margin_0.50.png
Result/Exact/Linear/Plots/Linear_lambda_0.50_margin_0.55.png
Result/Exact/Linear/Plots/Linear_lambda_0.50_margin_0.60.png
Result/Exact/Linear/Plots/Linear_lambda_0.50_margin_0.70.png
Result/FilterBased/Linear/Json/Linear_lambda_0.05_margin_0.20.json
Result/FilterBased/Linear/Json/Linear_lambda_0.05_margin_0.40.json
Result/FilterBased/Linear/Json/Linear_lambda_0.05_margin_0.45.json
Result/FilterBased/Linear/Json/Linear_lambda_0.05_margin_0.50.json
Result/FilterBased/Linear/Json/Linear_lambda_0.05_margin_0.55.json
Result/FilterBased/Linear/Json/Linear_lambda_0.05_margin_0.60.json
Result/FilterBased/Linear/Json/Linear_lambda_0.05_margin_0.70.json
Result/FilterBased/Linear/Json/Linear_lambda_0.10_margin_0.20.json
Result/FilterBased/Linear/Json/Linear_lambda_0.10_margin_0.40.json
Result/FilterBased/Linear/Json/Linear_lambda_0.10_margin_0.45.json
Result/FilterBased/Linear/Json/Linear_lambda_0.10_margin_0.50.json
Result/FilterBased/Linear/Json/Linear_lambda_0.10_margin_0.55.json
Result/FilterBased/Linear/Json/Linear_lambda_0.10_margin_0.60.json
Result/FilterBased/Linear/Json/Linear_lambda_0.10_margin_0.70.json
Result/FilterBased/Linear/Json/Linear_lambda_0.30_margin_0.20.json
Result/FilterBased/Linear/Json/Linear_lambda_0.30_margin_0.40.json
Result/FilterBased/Linear/Json/Linear_lambda_0.30_margin_0.45.json
Result/FilterBased/Linear/Json/Linear_lambda_0.30_margin_0.50.json
Result/FilterBased/Linear/Json/Linear_lambda_0.30_margin_0.55.json
Result/FilterBased/Linear/Json/Linear_lambda_0.30_margin_0.60.json
Result/FilterBased/Linear/Json/Linear_lambda_0.30_margin_0.70.json
Result/FilterBased/Linear/Json/Linear_lambda_0.50_margin_0.20.json
Result/FilterBased/Linear/Json/Linear_lambda_0.50_margin_0.40.json
Result/FilterBased/Linear/Json/Linear_lambda_0.50_margin_0.45.json
Result/FilterBased/Linear/Json/Linear_lambda_0.50_margin_0.50.json
Result/FilterBased/Linear/Json/Linear_lambda_0.50_margin_0.55.json
Result/FilterBased/Linear/Json/Linear_lambda_0.50_margin_0.60.json
Result/FilterBased/Linear/Json/Linear_lambda_0.50_margin_0.70.json
Result/FilterBased/Linear/Plots/Linear_lambda_0.05_margin_0.20.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.05_margin_0.40.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.05_margin_0.45.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.05_margin_0.50.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.05_margin_0.55.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.05_margin_0.60.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.05_margin_0.70.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.10_margin_0.20.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.10_margin_0.40.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.10_margin_0.45.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.10_margin_0.50.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.10_margin_0.55.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.10_margin_0.60.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.10_margin_0.70.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.30_margin_0.20.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.30_margin_0.40.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.30_margin_0.45.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.30_margin_0.50.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.30_margin_0.55.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.30_margin_0.60.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.30_margin_0.70.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.50_margin_0.20.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.50_margin_0.40.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.50_margin_0.45.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.50_margin_0.50.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.50_margin_0.55.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.50_margin_0.60.png
Result/FilterBased/Linear/Plots/Linear_lambda_0.50_margin_0.70.png
fused_feat.txt
labels.txt
Result/Exact/Linear/Json/Linear_lambda_0.01_margin_0.35.json
Result/Exact/Linear/Json/Linear_lambda_0.01_margin_0.45.json
Result/Exact/Linear/Json/Linear_lambda_0.01_margin_0.55.json
Result/Exact/Linear/Json/Linear_lambda_0.01_margin_0.65.json
Result/Exact/Linear/Json/Linear_lambda_0.01_margin_0.75.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.35.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.65.json
Result/Exact/Linear/Json/Linear_lambda_0.10_margin_0.75.json
Result/Exact/Linear/Plots/Linear_lambda_0.01_margin_0.35.png
Result/Exact/Linear/Plots/Linear_lambda_0.01_margin_0.45.png
Result/Exact/Linear/Plots/Linear_lambda_0.01_margin_0.55.png
Result/Exact/Linear/Plots/Linear_lambda_0.01_margin_0.65.png
Result/Exact/Linear/Plots/Linear_lambda_0.01_margin_0.75.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.35.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.65.png
Result/Exact/Linear/Plots/Linear_lambda_0.10_margin_0.75.png
